body {
	
}
div.lineFlex {
	display: flex;
}
.cell {
	background-color: grey;
	margin: 0;
	padding: 0;
	width: 30px;
	height: 30px;
	border: 1px solid #000;
	text-align: center;
	vertical-align: middle;
}
.noBomb {
	background-color: aliceblue;
}
div.discovered {
	
	background-color: white;
	font-weight: bold;
}

#app {
	width: 50%;
  	margin-left: 37.85vw;
}

div::contains("a")
.s1 {
	color: blue;
}
.s2 {
	color: rebeccapurple;
}
.s3 {
	color: red;
}
.s4 {
	color: maroon;
}
.s5 {
	color: lightcoral;
}
.s6 {
	color: black;
}

